.expand,  .import_icon,  .pause,  .play,  .point, .point, .pointer, .sound_high, .sound_low, .sound_low, .sound_mute, .sound_mute, .tools, .tools{
	background: url(../img/sprites.png) no-repeat;
}

.expand{
	background-position: -74px -124px ;
	width: 20px;
	height: 20px;
}

.expand:hover{
	background-position: -74px -101px ;
	width: 20px;
	height: 20px;
}

.import_icon{
	background-position: -78px -77px ;
	width: 20px;
	height: 20px;
}

.import_icon:hover{
	background-position: -54px -75px ;
	width: 20px;
	height: 20px;
}

.pause{
	background-position: -78px -49px ;
	width: 20px;
	height: 20px;
}

.pause:hover{
	background-position: -53px -48px ;
	width: 20px;
	height: 20px;
}

.play{
	background-position: -77px -27px ;
	width: 20px;
	height: 20px;
}

.play:hover{
	background-position: -55px -26px ;
	width: 20px;
	height: 20px;
}

.point{
	background-position: -75px 0;
	width: 20px;
	height: 20px;
}

.point:hover{
	background-position: -52px 0;
	width: 20px;
	height: 20px;
}

.pointer{
	background-position: -39px -105px ;
	width: 30px;
	height: 30px;
}

.pointer:hover{
	background-position: -4px -103px ;
	width: 30px;
	height: 30px;
}

.sound_high{
	background-position: -29px -76px ;
	width: 20px;
	height: 20px;
}

.sound_high:hover{
	background-position: -4px -74px ;
	width: 20px;
	height: 20px;
}

.sound_low{
	background-position: -26px -50px ;
	width: 20px;
	height: 20px;
}

.sound_low:hover{
	background-position: -4px -51px ;
	width: 20px;
	height: 20px;
}

.sound_mute{
	background-position: -26px -24px ;
	width: 20px;
	height: 20px;
}

.sound_mute:hover{
	background-position: -4px -24px ;
	width: 20px;
	height: 20px;
}

.tools{
	background-position: -26px 0;
	width: 20px;
	height: 20px;
}

.tools:hover{
	background-position: 0 0;
	width: 20px;
	height: 20px;
}

